[Unit]
Description=Starts the screensaver when idle
After=network.target

[Service]
KillMode=control-group
WorkingDirectory={dir}/
ExecStart={dir}/screensaver_service.sh

[Install]
WantedBy=default.target
